body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px; /* Adjust the height as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  .search-form {
    display: flex;
  }
  
  .search-form input[type="text"] {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #aaa;
    outline: none;
  }
  
  .search-form button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .memes {
    max-width: 1200px;
    width: 100%;
  }
  
  .meme {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 300px;
  }
  
  .meme img {
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  }
  